
{% extends "base.html" %}
{% load static %}
{% block page_title %}
All Challenges by Month
  
{% endblock page_title %}
{% block style_block %}
<link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
<link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">

{% endblock style_block %}

{% block content %}
 {% include "challenges/includes/header.html" %}

<ul> 
    {% for month in months_list %}
    <h2><li><a href="{% url 'monthly-challenge' month %}">{{month}} </a></li></h2>
    {% endfor %}
    </ul>
   
   
  
{% endblock content %}
