@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:wght@300;500&family=Roboto+Condensed:wght@400;700&display=swap');

html{
    font-family: 'Roboto Condensed', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  background-color: #1a1a1a;
}